.footer {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #3b322d;
}

.footer-img {
  background-image: url("../images/footer/map.jpg");
  background-repeat: no-repeat;
}

.footer-head {
  padding: 65px 0 34px 54px;
  display: inline-block;
  color: var(--neutral-color);
  font-style: normal;
  font-size: 48px;
  font-weight: 700;
  background-color: #251d1a;
}

.contacts-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  display: inline-flex;
  flex-direction: column;
}

.address-list {
  display: inline-block;
  font-size: 21px;
  font-style: normal;
  line-height: 1.43;
  background-color: #251d1a;
}

.footer-link {
  display: flex;
  align-items: center;
  padding: 0 60px 40px 54px;
  font-size: 21px;
  font-style: normal;
  line-height: 1.43;
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-map:hover,
.footer-map:focus {
  color: var(--accent-color);
}

.footer-contacts {
  color: var(--main-color);
}

.footer-icon {
  width: 22px;
  height: 22px;
  fill: #251d1a;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.footer-wrapper:not(:last-child) {
  margin-right: 30px;
}
