.header-container {
  display: flex;
  align-items: center;
}

.header {
  background-color: #3b322d;
  padding: 35px 0 35px 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.logo-icon {
  width: 45px;
  height: 45px;
  fill: var(--main-color);
}

.logo-icon:hover,
.logo-icon:focus {
  fill: var(--accent-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-size: 15px;
  line-height: 1.33;
  color: var(--main-color);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.map-link {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.33;
  color: var(--main-color);
  margin-right: 15px;
}

.map-link:hover,
.map-link:focus {
  color: var(--accent-color);
}

.map-item {
  display: flex;
  margin-right: 42px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.icon-map {
  width: 18px;
  height: 18px;
  fill: #3b322d;
}

.tel-item {
  display: flex;
  align-items: center;
}

.tel-wrapper {
  text-align: right;
}

.tel-wrapper:not(:last-child) {
  margin-right: 15px;
}

.tel-link {
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.52;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

.icon-tel {
  width: 18px;
  height: 18px;
  fill: #3b322d;
}

.timetable {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.33;
}
