:root {
  --main-color: #efe7e2;
  --second-color: #b7aaa2;
  --accent-color: #ff6e40;
  --neutral-color: #fff;
  --neutral-color-two: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

.container {
  width: 1200px;
  padding: 0 10px 0 10px;

  margin: 0 auto;
}

/* ---- Header ----- */
.header-container {
  display: flex;
  align-items: center;
}

.header {
  /* display: flex; */
  padding: 35px 0 35px 0;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 70px;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-size: 15px;

  line-height: 1.33;
  /* letter-spacing: 0.1; */
  /* color: #efe7e2; */
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.map-item {
}

.map-link {
  /* font-family: "Fira Sans", sans-serif; */
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 1.33;
  /* letter-spacing: 0.1; */
  /* color: #efe7e2; */
  margin-right: 92px;
}

.tel-link {
  /* font-family: "Fira Sans", sans-serif; */
  font-size: 18px;
  /* font-weight: 400; */
  line-height: 1.52;
}

.timetable {
  /* font-family: "Fira Sans", sans-serif; */
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 1.33;
}

/* ----- Hero ------- */
.hero {
}

.hero-item {
}

.main-title {
  /* color: var(--neutral-1, #FFF); */
  font-family: Playfair Display, serif;
  font-size: 70px;
  font-weight: 900;
  line-height: 1.1;
}

.desc {
  /* color: #EFE7E2; */
  font-family: Fira Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.hero-btn {
  /* color: var(--neutral-1, #fff); */
  text-align: center;
  font-family: Playfair Display, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.52;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-color);
  color: var(--neutral-color);
}

/* ---- Benefits ----- */

/* .benefits-section {
  display: flex;
} */

.benefits-section-list-item {
}

.benefits-img {
}
.benefits-item-head {
  color: var (--main-color);
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 24px;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.35; /* 32.4px */
}

.benefits-item-desc {
  color: var(--second-color);
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.5; /* 24px */
}

/* --- About us --- */
.about-us-section {
}

.about-us-section-title {
  /* color: var(--neutral-color); */
  color: var(--main-color);
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 48px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.25; /* 60px */
}

.about-us-section-desc {
  color: var(--main-color);
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 15px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.6; /* 24px */
}

.gallery-btn {
  /* color: var(--main-color); */
  /* background-color: var(--accent-color); */
  text-align: center;
  font-family: Playfair Display;
  font-size: 20px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.52; /* 30.4px */
}

.gallery-btn:hover,
.gallery-btn:focus {
  color: var(--neutral-color);
  background-color: var(--accent-color);
}

.gallery-btn-instagram {
  /* color: var(--main-color); */
  /* background-color: var(--accent-color); */
  text-align: center;
  font-family: Playfair Display;
  font-size: 14px;
  /* font-style: normal; */
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  line-height: 1.5; /* 30.4px */
}

.gallery-btn-instagram:hover,
.gallery-btn-instagram:focus {
  color: var(--neutral-color);
  background-color: var(--accent-color);
}

/* --- Testimonials --- */
.testimonials-section {
}

.testimonials-section-header {
  /* color: var(--neutral-color); */
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 48px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.25; /* 60px */
}

.testimonials-section-desc {
  color: var(--main-color);
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 15px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.6; /* 24px */
}

.testimonials-section-list {
}
.testimonials-section-list-item {
}

.testimonials-item-header {
  color: var(--neutral-color);
  /* font-family: Fira Sans; */
  font-size: 14px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.5; /* 21px */
}

.testimonials-item-desc {
  /* color: var(--neutral-color); */
  /* font-family: Fira Sans; */
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.5; /* 24px */
}

.testimonials-item-full-desc {
  color: var(--accent-color);
  /* font-family: Fira Sans; */
  font-size: 14px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.35; /* 18.9px */
}

/* --- Our price --- */
.our-price-section {
}

.our-price-section-header {
  color: var(--neutral);
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 48px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.25; /* 60px */
}

.our-price-section-desc {
  color: var(--main-color);
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 15px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.6; /* 24px */
}

.our-price-section-list {
}

.ur-price-section-list-item {
}

.our-price-section-img {
}

.price-list-head {
  color: var(--main-color);
  /* font-family: Fira Sans; */
  font-size: 30px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 1.33; /* 39.9px */
}

.price-list {
}

.price-list-item {
  color: var(--main-color);
  /* font-family: Fira Sans; */
  font-size: 16px;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.73; /* 27.68px */
}

/* --- Book now --- */

.book-now-head {
  color: var(--neutral-color-two);
  text-align: center;
  font-family: Playfair Display;
  font-size: 36px;
  /* font-style: normal; */
  font-weight: 900;
  line-height: 1.33; /* 47.88px */
}

.book-now-desc {
  color: #3b322d;
  text-align: center;
  /* font-family: Fira Sans; */
  font-size: 21px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 1.43; /* 30.03px */
}

/* --- Footer --- */
.footer-head {
  color: var(--neutral-color);
  /* font-family: Fira Sans; */
  font-size: 48px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 1.25; /* 60px */
}
.address-list {
  /* color: var(--neutral-color); */
  /* 21px, Regular */
  /* font-family: Montserrat; */
  font-size: 21px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 1.43; /* 30.03px */
}

.footer-timetable {
  /* color: var(--neutral-color); */
  /* 21px, Regular */
  /* font-family: Montserrat; */
  font-size: 21px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 1.43; /* 30.03px */
}
