body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* ---- Header ----- */

.header {
}

.main-nav {
}

.logo {
}

.menu-link {
  font-size: 15px;

  line-height: 1.33;
  /* letter-spacing: 0.1; */
  /* color: #efe7e2; */
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menu-link:hover,
.menu-link:focus {
  color: #ff6e40;
}

.map-link {
  /* font-family: "Fira Sans", sans-serif; */
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 1.33;
  /* letter-spacing: 0.1; */
  /* color: #efe7e2; */
}

.tel-link {
  /* font-family: "Fira Sans", sans-serif; */
  font-size: 18px;
  /* font-weight: 400; */
  line-height: 1.52;
}

.timetable {
  /* font-family: "Fira Sans", sans-serif; */
  font-size: 14px;
  /* font-weight: 400; */
  line-height: 1.33;
}

/* ----- Hero ------- */
.hero {
}

.hero-item {
}

.main-title {
  /* color: var(--neutral-1, #FFF); */
  font-family: Playfair Display, serif;
  font-size: 70px;
  font-weight: 900;
  line-height: 1, 1;
}

.desc {
  /* color: #EFE7E2; */
  font-family: Fira Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.hero-btn {
  /* color: var(--neutral-1, #fff); */
  text-align: center;
  font-family: Playfair Display, serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1, 52;
}

/* ---- Benefits ----- */
.benefits-section {
}

.benefits-section-list-item {
}

.benefits-img {
}

.hero-btn {
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #ff6e40;
  color: #fff;
}
